@model IEnumerable<WebSanaAssessment.Models.ProductModel>

@{
   ViewBag.Title = "Products Page";
}

<table id="tbl-products" class="table table-bordered dt-responsive nowrap" style="width: 100%">
   <thead class="thead-light">
      <tr>
         <th>
            @Html.DisplayNameFor(model => model.Number)
         </th>
         <th>
            @Html.DisplayNameFor(model => model.Title)
         </th>
         <th>
            @Html.DisplayNameFor(model => model.Price)
         </th>
         <th>
            @Html.DisplayNameFor(model => model.Stock)
         </th>
         <th></th>
      </tr>
   </thead>

   @foreach (var item in Model)
   {
      <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Number)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.Title)
         </td>
         <td style="text-align: right;">
            @Html.DisplayFor(modelItem => item.Price)
         </td>
         <td style="text-align: right;">
            @Html.DisplayFor(modelItem => item.Stock)
         </td>
         <td style="text-align: center;">
            @*<a class="btn btn-primary" href="#" onclick="ShowModal(@item.Id)">
               <i class="far fa-edit"></i>
            </a>*@
            <a class="btn btn-danger" onclick="ShowConfirmDelete(@item.Id)">
               <i class="far fa-trash-alt" style="color: #FFF;"></i>
            </a>
         </td>
      </tr>
   }
</table>

<div id="dv-modal-confirm" class="modal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Confirm delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete this product?</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="DeleteProduct('@Url.Action("Delete", "Product")');">Yes</button>
         </div>
      </div>
   </div>
</div>

<script type="text/javascript">
   /**
   * Show modal confirm to Delete a Product
   **/
   function ShowConfirmDelete(productId) {
      $("#dv-modal-confirm").data("productId", productId);
      $("#dv-modal-confirm").modal("show");
   }

   /**
    * Call Action to Delete Product by Id
   **/
   function DeleteProduct(url) {
      var productId = $("#dv-modal-confirm").data("productId");

      $.when(
         $.ajax({
            url: url,
            method: "POST",
            data: { "productId": productId },
         }).done(function (response) {            
            SetProductsTable(response);
            Notification("Message", "Process was successfully.", "success");

         }).fail(function (jqXHR, textStatus) {
            Notification("Error", jqXHR.status + ": " + jqXHR.statusText, "error");
            })).then(function () {
         });
   }
</script>